.tag{
    color: black;
    font-size: large;
    text-decoration: none;
}
.dv{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:360px;
    height: 50px;
    position: relative;
    left: 15px;
  
}
.f{
    color: black;
    
}
.option-button{
    background-color: white;
    border: 2px solid #2898ec;
    margin-right: 10px;
    height: 50px;
    width: 120px;
    border-radius: 50px;
   
}
.btndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #2898ec;
    margin-right: 10px;
    height: 50px;
    width: 120px;
    border-radius: 50px;
}
.noline{
    text-decoration: none;
    color: black;
    font-size: large;
    position: relative;
    bottom: 5px;
}
.lft{
    position: relative;
    left: 15px;
}
.wid{
    height: 50px;
    width: 120px;
    margin-left: 35px;
    

}
.wid p{
    font-size: medium;
}
@media screen and (min-width : 3000px) {
    .dv{
        margin-top: 60px;
        margin-bottom: 60px;
        left: 200px;
    } 
        .option-button {
          width: 6dvw !important;
          height: 2.8dvw !important;
          font-size: .8dvw;
        }
        .lft{
            left: 100px;
        }
        .btndiv{
            width: 6dvw !important;
            height: 2.8dvw !important;
            margin-top: 25px;
           
        }
        .btndiv div p{
            font-size: .8dvw;
        }

        
      
    
}