
.react-chatbot-kit-chat-container {
  z-index: 3 !important;
  width: 29.29% !important;
  height: 67.294% !important;
  position: relative;
  top: 14%;
  left: 65%;
  
  


 
}
span{
  font-size: 2dvh !important;
}
::placeholder{
  font-size: 1.5dvh !important;
}
.react-chatbot-kit-chat-inner-container{
  width: 29.29dvw !important;
  height: 67.294dvh !important;

}
/*1536*743*/

.imag-div{
  width: 100%;
  height: 100%;
 /* z-index: 0;*/


}
.img-div{
  width: 100dvw;
  height: 100dvh;
  z-index: 1;
}

.divImag{
 
  width: 100dvw;
  height: 100dvh;

}

.idiv{
  background-image: url('./components/images/chatbot.jpeg');
  background-size: cover;
  height: 100dvh;
  width: 100dvw;

}

.fast{
  width: 100dvw;
  height: 100vh;
}
.imag{
  width: 100%;
  height: 100%;
 /* z-index: 1;*/
}
.react-chatbot-kit-chat-bot-message{
  margin-left: 0 !important;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-evdents: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  all: unset;
  background-color: white;


  width: 5.208dvw;
  height: 5.208dvw;
  display: flex;
  position: relative;
  left: 85%;
  top: 12%;
  border-radius: 100%;
  z-index:2;
  

}
.inner-button{
  width: 5.208dvw;
  height: 5.208dvw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: white;
  border: none;
}
.inner-button img{
  height: 3.255dvw;
  width: 3.255dvw;
}

.ss{
  all:unset;
/*position:  relative;
left: 35%;
top: 12%;*/
position: fixed;
margin-left: 37.4348%;
margin-top:  81.521dvh;

}
.nn{
  width: 63.802%;
  height: 106dvh;
}
@media screen and (max-width : 1000px){
  .idiv{
    background-image: none;
    background-color: black;
  } 
  .btn{
    left: 0;
    height: 12dvw ;
    width: 12dvw;
    position: relative;
    
  }
  .ss{
    left: 45.45dvw;
  }
  .inner-button{
    height: 12dvw ;
    width: 12dvw;
    position: relative;
 

  }
  .inner-button img{
    height: 7dvw ;
    width: 7dvw;
  }
  .react-chatbot-kit-chat-container{
    width: 75% !important;
    left: 8dvw;
  }
  .react-chatbot-kit-chat-inner-container{
    width: 100% !important;

  }
}
@media screen and (min-width : 3000px) {
  .react-chatbot-kit-chat-bot-message{
    width: 10dvw !important;
  }
  .botavatar{
    height: 3dvw !important;
    width: 3dvw !important;
  }
  .botavatar img{
    height: 1.5dvw !important;
    width: 1.5dvw !important;
  }
  .react-chatbot-kit-chat-input-container{
    height: 2.6dvw !important;
  }
  .react-chatbot-kit-chat-btn-send-icon{
    width :25px !important;
  }
  input {
      font-size: 0.8dvw !important;
  }
  .react-chatbot-kit-user-chat-message{
    font-size: .8dvw !important;
    
  }
  .react-chatbot-kit-chat-message-container{
    height: 85% !important;
  }
  
}